Django==5.2.1
mysqlclient==2.2.7
python-decouple==3.8
WeasyPrint==62.3
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-axes==7.0.1
Pillow==11.2.1
pytest-django==4.9.0
pytest==8.3.5
flake8==7.2.0
black==25.1.0
gunicorn==23.0.0
whitenoise==6.9.0
